<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://azuresearchcustomskills.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7e48a1e8-8d3e-4e00-8bc0-098c43f5ace7/resourceGroups/rgAIPoweredOpenHack/providers/Microsoft.Web/sites/AzureSearchCustomSkills</ResourceId>
    <UserName>$AzureSearchCustomSkills</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://azuresearchcustomskills.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>